* {
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
}

#slider {
  border: 2px solid #E0E0E0;
  display: inline-block;
  font-size: 0;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  position: relative;
  vertical-align: top;
}

.controlBar {
  bottom: 0;
  left: 50%;
  padding: 10px;
  position: absolute;
  z-index: 5;
}

.prevBtn, .nextBtn {
  cursor: pointer;
  height: 45px;
  margin: auto;
  opacity: 0.5;
  padding: 15px;
  position: absolute;
  top: calc(50% - 40px);
  width: 45px;
  z-index: 5;
}

.prevBtn {
  left: 0;
}

.prevBtn:hover {
  transform: scale(0.9, 0.9);
}

.nextBtn:hover {
  transform: scale(0.9, 0.9) rotate(180deg);
}

.nextBtn {
  right: 0;
  transform: rotate(180deg);
}

.button {
  background-color: #46464671;
  border: 1px solid #929292;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 2px;
  outline: none;
  width: 10px;
}

.activeButton {
  background-color: #ffffffc5;
}

.slide {
  display: none;
}

.active {
  display: inline-block;
}

.melt-previous {
  display: inline-block;
}

.melt-current {
  animation-name: melt-appear;
  animation-duration: 1s;
  position: absolute;
  top: 0;
}

@keyframes melt-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot-current {
  animation-name: dot-current;
  animation-duration: 0.5s;
  display: inline-block;
  position: static;
}

@keyframes dot-current {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.slideshow-previous {
  animation-duration: 0.5s;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.slide-out-to-left {
  animation-name: slide-out-to-left;
}

.slide-out-to-right {
  animation-name: slide-out-to-right;
}

@keyframes slide-out-to-left {
  0% {
    right: 0;
    width: 100%;
  }
  100% {
    right: 100%;
    width: 100%;
  }
}

@keyframes slide-out-to-right {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}

.slideshow-current {
  animation-duration: 0.5s;
  position: absolute;
  top: 0;
  z-index: 3;
}

.slide-in-from-right {
  animation-name: slide-in-from-right;
}

.slide-in-from-left {
  animation-name: slide-in-from-left;
}

@keyframes slide-in-from-right {
  0% {
    margin-left: 100%;
    width: 100%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slide-in-from-left {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 0;
    width: 100%;
  }
}